<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <!-- <link rel="stylesheet" th:href="@{/css/style/css}">
    <title th:text="${title}">DISCUS</title> -->
</head>

<body>
    test
    <!-- <div th:insert="fragments/heater :: sightHeader"><Div></Div> -->
    <!-- <a href="/create">Admit a pet</a> -->
    <!-- <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Type</th>
                <th>status</th>
                <th>Action</th>
            </tr>
        </thead> -->
        <!-- <tbody>
        <tr th:each="pet : ${pets}">
            <td th:text= "${pet.name}"></td> -->
            <!-- <td th:text= "${pet.age}"> </td>
            <td  th:text= "${pet.petType}"></td>
            <td th:text="${pet.status}"></td>
            <td><a href="#" th:href="@{/details/{id}(id=${pet.id})}">Details</a>
            <a href="#" th:href="@{/edit/{id}(id=${pet.id})}">edit</a></td> -->
        <!-- </tr>
        </tbody> -->
    <!-- </table> -->
    <!-- <div th:insert="fragments/Footer :: siteFooter"></div> -->
</body>

</html>